body {
  align-items: center;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.App{
  width: 90vw;
}
.App-header {
    color: white;
    display: inline-block;
}

.buttonStyle{
  padding: 5px;
  position: fixed;
  z-index: 1;
}

.Usercard {
  background-color: #00FA9A;
  margin-bottom: 1em;
}

.userTitle {
  background-color: white;
  color: black;
}

.ranking{
  text-align: left;
  font-weight: bold;
}
.info{
  margin: 1em 0 1em 0;
}
.numbers{
  font-size: 5vw;
}

.footer {
  color: white;
  display: block;
  min-height: 150px;
}
