body {
  align-items: center;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.App-header {
    color: white;
    display: inline-block;
}

.buttonStyle{
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.Usercard {
  background-color: #00FA9A;
  margin-bottom: 1em;
}

.userTitle {
  background-color: white;
  color: black;
  text-align: center;
}
.imgRank{
  margin: 1em 0 1em 0;
}

/*.alltimeNumber {
  float: left;
}
.recentNumber {
  float: right;
}*/

.rank {
    /*display: inline-block;*/
    /*font-size: 5em;*/
}
/*
#tiny {
    font-size: 1em;
    transform: translateY(-50px);
}*/

ul {
    list-style: none;
}

.footer {
  color: white;
  display: block;
  min-height: 150px;
}
